<%= render "header" %>
<div class="main">
  <% if user_signed_in?%>
    <%= link_to "イベント新規登録", new_event_path, class:"btn btn--orange btn--border-solid index-new-link" %>
  <% else %>
    <div class="index-log">
      <%= link_to "ログイン", new_user_session_path, class:"btn btn--orange btn--border-solid index-login-link" %>
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn--orange btn--border-solid index-signin-link" %>
    </div>
  <% end %>
  <div id="index-box">
    <% if @events %>
      <% @events.each do |event| %>
        <%= link_to event_path(event.id), id:"index-new-path" do%>
          <ul class="index-event">
            <div class="index-event-name-box">
              <li class = "index-event-name-label">
                <p>イベント名：</p>
              </li>
              <li class = "index-event-name">
                <%= event.name %>
              </li>
            </div>
            <div class="index-event-description-box">
              <li class="index-event-description-label">
                <p>詳細</p>
              </li>
              <li class = "index-event-description"> 
                <%= event.description %>
              </li>
            </div>
            <div class="event-edit-link-box">
              <li class = "event-edit-link"> 
                <%= link_to "編集", edit_event_path(event.id) %>
              </li>
            </div>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
