<%= render "header" %>
<h1>イベント詳細情報</h1>
<div>
  <p>イベント名: <%= @event.name %></p>
</div>
<div>
<p>詳細: <%= @event.description %></p>
</div>

<table id="date-table">
  <thead>
    <tr>
      <th>
        <h4>日程</h4>
      </th>
      <td class="index-status-form">
        ◯
      </td>
      <td class="index-status-form">
        △
      </td>
      <td class="index-status-form cross">
        ×
      </td>
      <% if @event.joins %>
        <% @event.joins.each do |event_join| %>
          <td>
            <%= link_to event_join.nickname, event_path(@event.id,join_id: event_join.id) %>
          </td>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% @event.schedules.each do |et| %>
    <tr id="select-days">
      <th id="add-date-style">
        <div>
          <span id="pass-savedate"><%= et.savedate %></span>:<span id="pass-savetime"><%= et.savetime %></span>
        </div>
      </th>
      <td class="sum-maru">
        
      </td>
      <td class="sum-delta">
        
      </td>
      <td class="sum-cross">
        
      </td>
      <% if et.date_answer %>
        <% et.date_answer.each do |da| %>
          <td class = "date-index"> 
            <div class="date-index-status">
              <%= da.status %>
            </div>
            <div class="index-status-form">
              <% if da.status == 1 %>
                ◯
              <% elsif da.status == 2 %>
                △
              <% else %>
                <span class="cross">
                  ×
                </span>
              <% end %>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
 <br>
 <br>
 <table id="shop-table">
  <thead>
    <tr>
      <th>
        <h4>お店</h4>
      </th>
      <td class="index-status-form">
        ◯
      </td>
      <td class="index-status-form">
        △
      </td>
      <td class="index-status-form cross">
        ×
      </td>
      <% if @event.joins %>
        <% @event.joins.each do |event_join| %>
          <td>
            <%= link_to event_join.nickname, event_path(@event.id,join_id: event_join.id) %>
          </td>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% @event.shops.each do |es| %>
    <tr id="select-days">
      <th id="add-date-style">
        <div>
          <span id="pass-shop-name">店名: <%= es.shop_name %></span>
        </div>
        <div>
          <span id="pass-shop-url">店のURL: <%= es.shop_url %></span>
        </div>
        <div>
          <span id="pass-map-url">地図のURL: <%= es.map_url %></span>
        </div>
        <div>
          <span id="pass-comment">コメント: <%= es.comment %></span> 
        </div>
      </th>
      <td class="sum-maru">
      </td>
      <td class="sum-delta">
      </td>
      <td class="sum-cross">
      </td>
      <% if es.shop_answer %>
        <% es.shop_answer.each do |sa| %>
          <td class = "date-index">
            <div class="shop-index-status"> 
              <%= sa.status %>
            </div>
            <div class="index-status-form">
              <% if sa.status == 1 %>
                ◯
              <% elsif sa.status == 2 %>
                △
              <% else %>
                <span class="cross">
                  ×
                </span>
              <% end %>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>